################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApp/.vs/BookStoreApp
/BookStoreApp/BookStoreApp/bin/Debug/net5.0
/BookStoreApp/BookStoreApp/obj
/BookStoreApp/BookStoreApp/wwwroot/lib
