@{ 

    ViewData["Title"] = "About Us";
    var book = ViewData["Book"] as BookModel;
}
 

<h2>This is the about us PAGE</h2>

@ViewData["Name"]
@book.Id
@book.Title

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item-active"><a href="#" aria-current="page">Page 2</a></li>
        </ol>
    </nav>

}